.container-fluid {
    background-color: grey;
}
.img-parent {
    height: 200px;
    overflow: hidden;
}
#main-nav {
    background-color: rgb(108, 214, 218);
}
#nav1 {
    background-color: rgb(81, 178, 182); 
}
#arrow {
    background-color: #fff;
}
address a {
    color: purple;
    text-decoration: none;
}
.nav1 a {
    color: #fff;
    text-decoration: none;
}
.navbar-text {
    color: #fff;
    size: 40px;
}
#contact-head {
    border-bottom: solid 1px #000;
    padding-top: 15px;
    padding-bottom: 15px;
}
.h1-contacts {
    padding-bottom: 40px;
    font-weight: normal;
}
.form-head {
    font-weight: normal;
    margin-top: 35px;
    padding-left: 520px;
    padding-bottom: 15px;
}
#website {
    padding-top: 20px;
}
#comment-form {
    padding-top: 20px;
}
#send-button {
    padding-top: 20px;
    color: rgb(211, 19, 83);
}