.container-fluid {
    background-color: grey;
}
.img-parent {
    height: 200px;
    overflow: hidden;
}
#main-nav {
    background-color: rgb(231, 63, 231);
}
#nav1 {
    background-color: rgb(122, 10, 122);
   
}
#arrow {
    background-color: #fff;
}
